@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: #000;
    --foreground: #ddffdc99;
    --primary: #90ed5e;
    --secondary: #ddffdc;
  }
  .dark {
    --background: #000;
    --foreground: #ddffdc99;
    --primary: #90ed5e;
    --secondary: #ddffdc;
  }
}

@layer base {
  body {
    @apply bg-background text-foreground
  }
}